.top-view {
  min-height: 100vh;
  background-image: url('https://i.gifer.com/2swA.gif');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bottom-view {
  min-height: 100vh;
  /* background-image: url("https://i.gifer.com/68u.gif");
  background-size: cover; */
  background-color: gray;
  display: flex;
  flex-direction: column;
}