.top-view {
  min-height: 100vh;
  background-image: url('/images/bg-main.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bottom-view {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  display: flex;
  flex-direction: column;
}

.orange-text {
  color: var(--orangish-color-hover);
}